.FlashCards-Container {
  display: flex;
}

#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.Shuffle {
  display: inline-block;
  width: 400px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.Previous {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Next {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
