.Card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  color: #222;
  padding: 2em;
  perspective: 1000px;
}

.Card h1 {
  margin: 0;
}

.Card-Inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.Card.Flipped .Card-Inner {
  transform: rotateX(180deg);
}

.Card-Front,
.Card-Back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.Card-Front {
  background: #f2f2f2;
}
.Card-Back {
  background: #555;
  color: #fff;
}

.Card-Back {
  transform: rotateX(180deg);
}
